/*
LeapOCR API

Advanced OCR API for processing PDF documents with AI-powered text extraction using Gemini LLM integration. Supports structured data extraction, template-based processing, and real-time job management.

API version: v1
Contact: support@leapocr.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package generated

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

type CreditsAPI interface {

	/*
		GetOrganizationCreditsBalance Get organization credits balance

		Retrieve current credit balance, consumption, trial status, active subscriptions, granted benefits, and active meters for the authenticated user's organization from the JWT token.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param organizationId Organization ID
		@return CreditsAPIGetOrganizationCreditsBalanceRequest
	*/
	GetOrganizationCreditsBalance(ctx context.Context, organizationId string) CreditsAPIGetOrganizationCreditsBalanceRequest

	// GetOrganizationCreditsBalanceExecute executes the request
	//  @return CreditBalanceResponse
	GetOrganizationCreditsBalanceExecute(r CreditsAPIGetOrganizationCreditsBalanceRequest) (*CreditBalanceResponse, *http.Response, error)

	/*
		GetPolarProductsCatalog Get Polar products catalog

		Retrieve list of all available products from Polar with caching

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return CreditsAPIGetPolarProductsCatalogRequest
	*/
	GetPolarProductsCatalog(ctx context.Context) CreditsAPIGetPolarProductsCatalogRequest

	// GetPolarProductsCatalogExecute executes the request
	//  @return ProductCatalog
	GetPolarProductsCatalogExecute(r CreditsAPIGetPolarProductsCatalogRequest) (*ProductCatalog, *http.Response, error)

	/*
		ListCreditTransactionsCursor List credit transactions with cursor pagination

		Retrieve a cursor-paginated list of credit transactions for a team

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param organizationId Organization ID
		@param teamId Team ID
		@return CreditsAPIListCreditTransactionsCursorRequest
	*/
	ListCreditTransactionsCursor(ctx context.Context, organizationId string, teamId string) CreditsAPIListCreditTransactionsCursorRequest

	// ListCreditTransactionsCursorExecute executes the request
	//  @return CreditsCreditTransactionsListCursorResponse
	ListCreditTransactionsCursorExecute(r CreditsAPIListCreditTransactionsCursorRequest) (*CreditsCreditTransactionsListCursorResponse, *http.Response, error)

	/*
		ListOrgCreditTransactionsCursor List organization credit transactions with cursor pagination

		Retrieve a cursor-paginated list of credit transactions for an organization

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param organizationId Organization ID
		@return CreditsAPIListOrgCreditTransactionsCursorRequest
	*/
	ListOrgCreditTransactionsCursor(ctx context.Context, organizationId string) CreditsAPIListOrgCreditTransactionsCursorRequest

	// ListOrgCreditTransactionsCursorExecute executes the request
	//  @return CreditsOrgCreditTransactionsListCursorResponse
	ListOrgCreditTransactionsCursorExecute(r CreditsAPIListOrgCreditTransactionsCursorRequest) (*CreditsOrgCreditTransactionsListCursorResponse, *http.Response, error)
}

// CreditsAPIService CreditsAPI service
type CreditsAPIService service

type CreditsAPIGetOrganizationCreditsBalanceRequest struct {
	ctx            context.Context
	ApiService     CreditsAPI
	organizationId string
}

func (r CreditsAPIGetOrganizationCreditsBalanceRequest) Execute() (*CreditBalanceResponse, *http.Response, error) {
	return r.ApiService.GetOrganizationCreditsBalanceExecute(r)
}

/*
GetOrganizationCreditsBalance Get organization credits balance

Retrieve current credit balance, consumption, trial status, active subscriptions, granted benefits, and active meters for the authenticated user's organization from the JWT token.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Organization ID
	@return CreditsAPIGetOrganizationCreditsBalanceRequest
*/
func (a *CreditsAPIService) GetOrganizationCreditsBalance(ctx context.Context, organizationId string) CreditsAPIGetOrganizationCreditsBalanceRequest {
	return CreditsAPIGetOrganizationCreditsBalanceRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return CreditBalanceResponse
func (a *CreditsAPIService) GetOrganizationCreditsBalanceExecute(r CreditsAPIGetOrganizationCreditsBalanceRequest) (*CreditBalanceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreditBalanceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditsAPIService.GetOrganizationCreditsBalance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{organization_id}/credits/balance"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-KEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CreditsAPIGetPolarProductsCatalogRequest struct {
	ctx        context.Context
	ApiService CreditsAPI
}

func (r CreditsAPIGetPolarProductsCatalogRequest) Execute() (*ProductCatalog, *http.Response, error) {
	return r.ApiService.GetPolarProductsCatalogExecute(r)
}

/*
GetPolarProductsCatalog Get Polar products catalog

Retrieve list of all available products from Polar with caching

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CreditsAPIGetPolarProductsCatalogRequest
*/
func (a *CreditsAPIService) GetPolarProductsCatalog(ctx context.Context) CreditsAPIGetPolarProductsCatalogRequest {
	return CreditsAPIGetPolarProductsCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProductCatalog
func (a *CreditsAPIService) GetPolarProductsCatalogExecute(r CreditsAPIGetPolarProductsCatalogRequest) (*ProductCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProductCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditsAPIService.GetPolarProductsCatalog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credits/polar/products/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-KEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CreditsAPIListCreditTransactionsCursorRequest struct {
	ctx            context.Context
	ApiService     CreditsAPI
	organizationId string
	teamId         string
	cursor         *string
	limit          *int32
	search         *string
	model          *string
	createdFrom    *time.Time
	createdTo      *time.Time
}

// Cursor for pagination
func (r CreditsAPIListCreditTransactionsCursorRequest) Cursor(cursor string) CreditsAPIListCreditTransactionsCursorRequest {
	r.cursor = &cursor
	return r
}

// Number of items per page
func (r CreditsAPIListCreditTransactionsCursorRequest) Limit(limit int32) CreditsAPIListCreditTransactionsCursorRequest {
	r.limit = &limit
	return r
}

// Search by job ID or file name
func (r CreditsAPIListCreditTransactionsCursorRequest) Search(search string) CreditsAPIListCreditTransactionsCursorRequest {
	r.search = &search
	return r
}

// Filter by OCR model
func (r CreditsAPIListCreditTransactionsCursorRequest) Model(model string) CreditsAPIListCreditTransactionsCursorRequest {
	r.model = &model
	return r
}

// Filter by creation date (ISO 8601, inclusive)
func (r CreditsAPIListCreditTransactionsCursorRequest) CreatedFrom(createdFrom time.Time) CreditsAPIListCreditTransactionsCursorRequest {
	r.createdFrom = &createdFrom
	return r
}

// Filter by creation date (ISO 8601, inclusive)
func (r CreditsAPIListCreditTransactionsCursorRequest) CreatedTo(createdTo time.Time) CreditsAPIListCreditTransactionsCursorRequest {
	r.createdTo = &createdTo
	return r
}

func (r CreditsAPIListCreditTransactionsCursorRequest) Execute() (*CreditsCreditTransactionsListCursorResponse, *http.Response, error) {
	return r.ApiService.ListCreditTransactionsCursorExecute(r)
}

/*
ListCreditTransactionsCursor List credit transactions with cursor pagination

Retrieve a cursor-paginated list of credit transactions for a team

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Organization ID
	@param teamId Team ID
	@return CreditsAPIListCreditTransactionsCursorRequest
*/
func (a *CreditsAPIService) ListCreditTransactionsCursor(ctx context.Context, organizationId string, teamId string) CreditsAPIListCreditTransactionsCursorRequest {
	return CreditsAPIListCreditTransactionsCursorRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
		teamId:         teamId,
	}
}

// Execute executes the request
//
//	@return CreditsCreditTransactionsListCursorResponse
func (a *CreditsAPIService) ListCreditTransactionsCursorExecute(r CreditsAPIListCreditTransactionsCursorRequest) (*CreditsCreditTransactionsListCursorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreditsCreditTransactionsListCursorResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditsAPIService.ListCreditTransactionsCursor")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{organization_id}/teams/{team_id}/credits/transactions"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"team_id"+"}", url.PathEscape(parameterValueToString(r.teamId, "teamId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		r.limit = &defaultValue
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.createdFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_from", r.createdFrom, "form", "")
	}
	if r.createdTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_to", r.createdTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-KEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CreditsAPIListOrgCreditTransactionsCursorRequest struct {
	ctx            context.Context
	ApiService     CreditsAPI
	organizationId string
	cursor         *string
	limit          *int32
	search         *string
	model          *string
	createdFrom    *time.Time
	createdTo      *time.Time
}

// Cursor for pagination
func (r CreditsAPIListOrgCreditTransactionsCursorRequest) Cursor(cursor string) CreditsAPIListOrgCreditTransactionsCursorRequest {
	r.cursor = &cursor
	return r
}

// Number of items per page
func (r CreditsAPIListOrgCreditTransactionsCursorRequest) Limit(limit int32) CreditsAPIListOrgCreditTransactionsCursorRequest {
	r.limit = &limit
	return r
}

// Search by job ID or file name
func (r CreditsAPIListOrgCreditTransactionsCursorRequest) Search(search string) CreditsAPIListOrgCreditTransactionsCursorRequest {
	r.search = &search
	return r
}

// Filter by OCR model
func (r CreditsAPIListOrgCreditTransactionsCursorRequest) Model(model string) CreditsAPIListOrgCreditTransactionsCursorRequest {
	r.model = &model
	return r
}

// Filter by creation date (ISO 8601, inclusive)
func (r CreditsAPIListOrgCreditTransactionsCursorRequest) CreatedFrom(createdFrom time.Time) CreditsAPIListOrgCreditTransactionsCursorRequest {
	r.createdFrom = &createdFrom
	return r
}

// Filter by creation date (ISO 8601, inclusive)
func (r CreditsAPIListOrgCreditTransactionsCursorRequest) CreatedTo(createdTo time.Time) CreditsAPIListOrgCreditTransactionsCursorRequest {
	r.createdTo = &createdTo
	return r
}

func (r CreditsAPIListOrgCreditTransactionsCursorRequest) Execute() (*CreditsOrgCreditTransactionsListCursorResponse, *http.Response, error) {
	return r.ApiService.ListOrgCreditTransactionsCursorExecute(r)
}

/*
ListOrgCreditTransactionsCursor List organization credit transactions with cursor pagination

Retrieve a cursor-paginated list of credit transactions for an organization

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Organization ID
	@return CreditsAPIListOrgCreditTransactionsCursorRequest
*/
func (a *CreditsAPIService) ListOrgCreditTransactionsCursor(ctx context.Context, organizationId string) CreditsAPIListOrgCreditTransactionsCursorRequest {
	return CreditsAPIListOrgCreditTransactionsCursorRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return CreditsOrgCreditTransactionsListCursorResponse
func (a *CreditsAPIService) ListOrgCreditTransactionsCursorExecute(r CreditsAPIListOrgCreditTransactionsCursorRequest) (*CreditsOrgCreditTransactionsListCursorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreditsOrgCreditTransactionsListCursorResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditsAPIService.ListOrgCreditTransactionsCursor")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{organization_id}/credits/transactions"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		r.limit = &defaultValue
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.createdFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_from", r.createdFrom, "form", "")
	}
	if r.createdTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_to", r.createdTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-KEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
