/*
LeapOCR API

Provide your JWT token via the `Authorization` header. Example: Authorization: Bearer <token>

API version: v1
Contact: support@leapocr.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package generated

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type CreditsAPI interface {

	/*
		GetCreditTransactionsByOrganizationID Get credit transactions by organization ID

		Retrieve paginated list of credit transactions for the authenticated user's organization

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param organizationId Organization ID
		@return CreditsAPIGetCreditTransactionsByOrganizationIDRequest
	*/
	GetCreditTransactionsByOrganizationID(ctx context.Context, organizationId string) CreditsAPIGetCreditTransactionsByOrganizationIDRequest

	// GetCreditTransactionsByOrganizationIDExecute executes the request
	//  @return CreditsCreditTransactionsResponseCreditsCreditTransactionOrganizationResponse
	GetCreditTransactionsByOrganizationIDExecute(r CreditsAPIGetCreditTransactionsByOrganizationIDRequest) (*CreditsCreditTransactionsResponseCreditsCreditTransactionOrganizationResponse, *http.Response, error)

	/*
		GetCreditTransactionsByTeamID Get credit transactions by team ID

		Retrieve paginated list of credit transactions for the authenticated user's team

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param teamId Team ID
		@return CreditsAPIGetCreditTransactionsByTeamIDRequest
	*/
	GetCreditTransactionsByTeamID(ctx context.Context, teamId string) CreditsAPIGetCreditTransactionsByTeamIDRequest

	// GetCreditTransactionsByTeamIDExecute executes the request
	//  @return CreditsCreditTransactionsResponseCreditsCreditTransactionProjectResponse
	GetCreditTransactionsByTeamIDExecute(r CreditsAPIGetCreditTransactionsByTeamIDRequest) (*CreditsCreditTransactionsResponseCreditsCreditTransactionProjectResponse, *http.Response, error)

	/*
		GetOrganizationCreditsBalance Get organization credits balance

		Retrieve current credit balance, consumption, trial status, active subscriptions, granted benefits, and active meters for the authenticated user's organization from the JWT token.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return CreditsAPIGetOrganizationCreditsBalanceRequest
	*/
	GetOrganizationCreditsBalance(ctx context.Context) CreditsAPIGetOrganizationCreditsBalanceRequest

	// GetOrganizationCreditsBalanceExecute executes the request
	//  @return CreditsCreditBalanceResponse
	GetOrganizationCreditsBalanceExecute(r CreditsAPIGetOrganizationCreditsBalanceRequest) (*CreditsCreditBalanceResponse, *http.Response, error)

	/*
		GetPolarProductsCatalog Get Polar products catalog

		Retrieve list of all available products from Polar with caching

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return CreditsAPIGetPolarProductsCatalogRequest
	*/
	GetPolarProductsCatalog(ctx context.Context) CreditsAPIGetPolarProductsCatalogRequest

	// GetPolarProductsCatalogExecute executes the request
	//  @return CreditsProductCatalog
	GetPolarProductsCatalogExecute(r CreditsAPIGetPolarProductsCatalogRequest) (*CreditsProductCatalog, *http.Response, error)
}

// CreditsAPIService CreditsAPI service
type CreditsAPIService service

type CreditsAPIGetCreditTransactionsByOrganizationIDRequest struct {
	ctx            context.Context
	ApiService     CreditsAPI
	organizationId string
	page           *int32
	limit          *int32
	search         *string
	model          *string
	sortBy         *string
	createdFrom    *string
	createdTo      *string
}

// Page number (default: 1)
func (r CreditsAPIGetCreditTransactionsByOrganizationIDRequest) Page(page int32) CreditsAPIGetCreditTransactionsByOrganizationIDRequest {
	r.page = &page
	return r
}

// Items per page (default: 20)
func (r CreditsAPIGetCreditTransactionsByOrganizationIDRequest) Limit(limit int32) CreditsAPIGetCreditTransactionsByOrganizationIDRequest {
	r.limit = &limit
	return r
}

// Search in description, file name, model, or project name
func (r CreditsAPIGetCreditTransactionsByOrganizationIDRequest) Search(search string) CreditsAPIGetCreditTransactionsByOrganizationIDRequest {
	r.search = &search
	return r
}

// Filter by model
func (r CreditsAPIGetCreditTransactionsByOrganizationIDRequest) Model(model string) CreditsAPIGetCreditTransactionsByOrganizationIDRequest {
	r.model = &model
	return r
}

// Sort by field
func (r CreditsAPIGetCreditTransactionsByOrganizationIDRequest) SortBy(sortBy string) CreditsAPIGetCreditTransactionsByOrganizationIDRequest {
	r.sortBy = &sortBy
	return r
}

// Filter transactions from date (RFC3339 format)
func (r CreditsAPIGetCreditTransactionsByOrganizationIDRequest) CreatedFrom(createdFrom string) CreditsAPIGetCreditTransactionsByOrganizationIDRequest {
	r.createdFrom = &createdFrom
	return r
}

// Filter transactions to date (RFC3339 format)
func (r CreditsAPIGetCreditTransactionsByOrganizationIDRequest) CreatedTo(createdTo string) CreditsAPIGetCreditTransactionsByOrganizationIDRequest {
	r.createdTo = &createdTo
	return r
}

func (r CreditsAPIGetCreditTransactionsByOrganizationIDRequest) Execute() (*CreditsCreditTransactionsResponseCreditsCreditTransactionOrganizationResponse, *http.Response, error) {
	return r.ApiService.GetCreditTransactionsByOrganizationIDExecute(r)
}

/*
GetCreditTransactionsByOrganizationID Get credit transactions by organization ID

Retrieve paginated list of credit transactions for the authenticated user's organization

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Organization ID
	@return CreditsAPIGetCreditTransactionsByOrganizationIDRequest
*/
func (a *CreditsAPIService) GetCreditTransactionsByOrganizationID(ctx context.Context, organizationId string) CreditsAPIGetCreditTransactionsByOrganizationIDRequest {
	return CreditsAPIGetCreditTransactionsByOrganizationIDRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return CreditsCreditTransactionsResponseCreditsCreditTransactionOrganizationResponse
func (a *CreditsAPIService) GetCreditTransactionsByOrganizationIDExecute(r CreditsAPIGetCreditTransactionsByOrganizationIDRequest) (*CreditsCreditTransactionsResponseCreditsCreditTransactionOrganizationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreditsCreditTransactionsResponseCreditsCreditTransactionOrganizationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditsAPIService.GetCreditTransactionsByOrganizationID")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credits/organizations/{organization_id}/transactions"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	} else {
		var defaultValue string = "created_at_desc"
		r.sortBy = &defaultValue
	}
	if r.createdFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_from", r.createdFrom, "form", "")
	}
	if r.createdTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_to", r.createdTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CreditsAPIGetCreditTransactionsByTeamIDRequest struct {
	ctx         context.Context
	ApiService  CreditsAPI
	teamId      string
	page        *int32
	limit       *int32
	search      *string
	model       *string
	sortBy      *string
	createdFrom *string
	createdTo   *string
}

// Page number (default: 1)
func (r CreditsAPIGetCreditTransactionsByTeamIDRequest) Page(page int32) CreditsAPIGetCreditTransactionsByTeamIDRequest {
	r.page = &page
	return r
}

// Items per page (default: 20)
func (r CreditsAPIGetCreditTransactionsByTeamIDRequest) Limit(limit int32) CreditsAPIGetCreditTransactionsByTeamIDRequest {
	r.limit = &limit
	return r
}

// Search in description, file name, or model
func (r CreditsAPIGetCreditTransactionsByTeamIDRequest) Search(search string) CreditsAPIGetCreditTransactionsByTeamIDRequest {
	r.search = &search
	return r
}

// Filter by model
func (r CreditsAPIGetCreditTransactionsByTeamIDRequest) Model(model string) CreditsAPIGetCreditTransactionsByTeamIDRequest {
	r.model = &model
	return r
}

// Sort by field
func (r CreditsAPIGetCreditTransactionsByTeamIDRequest) SortBy(sortBy string) CreditsAPIGetCreditTransactionsByTeamIDRequest {
	r.sortBy = &sortBy
	return r
}

// Filter transactions from date (RFC3339 format)
func (r CreditsAPIGetCreditTransactionsByTeamIDRequest) CreatedFrom(createdFrom string) CreditsAPIGetCreditTransactionsByTeamIDRequest {
	r.createdFrom = &createdFrom
	return r
}

// Filter transactions to date (RFC3339 format)
func (r CreditsAPIGetCreditTransactionsByTeamIDRequest) CreatedTo(createdTo string) CreditsAPIGetCreditTransactionsByTeamIDRequest {
	r.createdTo = &createdTo
	return r
}

func (r CreditsAPIGetCreditTransactionsByTeamIDRequest) Execute() (*CreditsCreditTransactionsResponseCreditsCreditTransactionProjectResponse, *http.Response, error) {
	return r.ApiService.GetCreditTransactionsByTeamIDExecute(r)
}

/*
GetCreditTransactionsByTeamID Get credit transactions by team ID

Retrieve paginated list of credit transactions for the authenticated user's team

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param teamId Team ID
	@return CreditsAPIGetCreditTransactionsByTeamIDRequest
*/
func (a *CreditsAPIService) GetCreditTransactionsByTeamID(ctx context.Context, teamId string) CreditsAPIGetCreditTransactionsByTeamIDRequest {
	return CreditsAPIGetCreditTransactionsByTeamIDRequest{
		ApiService: a,
		ctx:        ctx,
		teamId:     teamId,
	}
}

// Execute executes the request
//
//	@return CreditsCreditTransactionsResponseCreditsCreditTransactionProjectResponse
func (a *CreditsAPIService) GetCreditTransactionsByTeamIDExecute(r CreditsAPIGetCreditTransactionsByTeamIDRequest) (*CreditsCreditTransactionsResponseCreditsCreditTransactionProjectResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreditsCreditTransactionsResponseCreditsCreditTransactionProjectResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditsAPIService.GetCreditTransactionsByTeamID")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credits/teams/{team_id}/transactions"
	localVarPath = strings.Replace(localVarPath, "{"+"team_id"+"}", url.PathEscape(parameterValueToString(r.teamId, "teamId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	} else {
		var defaultValue string = "created_at_desc"
		r.sortBy = &defaultValue
	}
	if r.createdFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_from", r.createdFrom, "form", "")
	}
	if r.createdTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_to", r.createdTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CreditsAPIGetOrganizationCreditsBalanceRequest struct {
	ctx        context.Context
	ApiService CreditsAPI
}

func (r CreditsAPIGetOrganizationCreditsBalanceRequest) Execute() (*CreditsCreditBalanceResponse, *http.Response, error) {
	return r.ApiService.GetOrganizationCreditsBalanceExecute(r)
}

/*
GetOrganizationCreditsBalance Get organization credits balance

Retrieve current credit balance, consumption, trial status, active subscriptions, granted benefits, and active meters for the authenticated user's organization from the JWT token.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CreditsAPIGetOrganizationCreditsBalanceRequest
*/
func (a *CreditsAPIService) GetOrganizationCreditsBalance(ctx context.Context) CreditsAPIGetOrganizationCreditsBalanceRequest {
	return CreditsAPIGetOrganizationCreditsBalanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreditsCreditBalanceResponse
func (a *CreditsAPIService) GetOrganizationCreditsBalanceExecute(r CreditsAPIGetOrganizationCreditsBalanceRequest) (*CreditsCreditBalanceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreditsCreditBalanceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditsAPIService.GetOrganizationCreditsBalance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credits/organizations/balance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CreditsAPIGetPolarProductsCatalogRequest struct {
	ctx        context.Context
	ApiService CreditsAPI
}

func (r CreditsAPIGetPolarProductsCatalogRequest) Execute() (*CreditsProductCatalog, *http.Response, error) {
	return r.ApiService.GetPolarProductsCatalogExecute(r)
}

/*
GetPolarProductsCatalog Get Polar products catalog

Retrieve list of all available products from Polar with caching

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CreditsAPIGetPolarProductsCatalogRequest
*/
func (a *CreditsAPIService) GetPolarProductsCatalog(ctx context.Context) CreditsAPIGetPolarProductsCatalogRequest {
	return CreditsAPIGetPolarProductsCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreditsProductCatalog
func (a *CreditsAPIService) GetPolarProductsCatalogExecute(r CreditsAPIGetPolarProductsCatalogRequest) (*CreditsProductCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreditsProductCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditsAPIService.GetPolarProductsCatalog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credits/polar/products/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
